:root {
  /* TEXT VARIABLES */
  --body-font: "Roboto", sans-serif;
  --secondary-font: "Anek Telugu", sans-serif;

  --h1-size: 2rem;
  --h1-height: 2.5rem;
  --h2-size: 1.2rem;
  --h2-height: 1.4rem;

  --p-size: 1rem;
  --p-height: 1.2rem;
  --secondary-text-size: 0.8rem;
  --secondary-text-height: 1rem;

  /* SPACING VARIABLES */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  --popup-width: 500px;
  --popup-height: 300px;
  --menu-popup-width: 200px;
  --menu-popup-height: 100px;
  --card-width: 200px;
  --card-height: 100px;
  --standard-width: 95%;

  /* BUTTON VARIABLES */
  --button-text-size: 1rem;
  --button-sidebar-width-size: 4rem;
  --button-ok-width-size: 70px;

  /* COLOR VARIABLES */
  --bg-white: #fff;
  --bg-grey: #f7f9fc;
  --bg-popup: #00000099;

  --text-black: #000;
  --text-dark: #101011;
  --text-white: #fff;
  --text-grey: #adbdcc;

  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #3366ff;
  --blue-2: #0a2540;

  --close-button: #ff0000;
  --button-hover: #68727e;
  --standard-border-radius: 15px;
  --standard-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  --gradient: linear-gradient(
    90deg,
    #08209a 0.6%,
    #6563ff 10.33%,
    #36c5f0 20.92%,
    #83e2ff 96.96%
  );
}

/* GENERAL ELEMENT STYLES */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  width: var(--standard-width);
  background-color: var(--bg-white);
  color: var(--text-black);
  margin: 0;
  padding: var(--spacing-sm) 0 0 0;
  font-family: var(--body-font);
  position: relative;

  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 9fr 150px;
  row-gap: var(--spacing-md);
}
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--secondary-font);
  margin: var(--spacing-lg) 0 0 0;
}
main {
  grid-area: main;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
}
aside {
  grid-area: aside;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-md);
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  color: var(--text-grey);
  padding: var(--spacing-lg) 0;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: var(--h1-height);
  margin: 0;
  width: 100%;
}
h2 {
  font-size: var(--h2-size);
  font-weight: 500;
  line-height: var(--h2-height);
  margin: 0;
  display: inline-block;
  width: auto;
}
p {
  font-size: var(--p-size);
  font-weight: 400;
  line-height: var(--p-height);
  margin: var(--spacing-md) var(--spacing-sm);
}

a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
  transition: color 0.2s ease-out;
}
a:hover {
  text-decoration: underline;
  color: var(--purple-1);
}

/* GENERAL LAYOUT STYLES  */

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  max-width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  align-content: flex-start;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: var(--card-width);
  min-height: var(--card-height);
  max-width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--purple-1);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
  border-color: var(--blue-2);
  box-shadow: var(--standard-box-shadow);
  cursor: pointer;
}
.card h2 {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: var(--h2-size);
  margin: 0;
  align-self: flex-start;
}
.secondary-text {
  font-size: var(--p-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
  margin: var(--spacing-sm) var(--spacing-xs) 0 var(--spacing-xs);
}

/* GENERAL BUTTON STYLES */

.standard-button {
  color: var(--text-grey);
  font-family: var(--body-font);
  font-size: var(--button-text-size);
  font-weight: bold;
  letter-spacing: 1.25px;
  padding: var(--spacing-sm) var(--spacing-md);
  white-space: nowrap;
  border: 1px solid var(--text-grey);
  border-radius: var(--standard-border-radius);
  transition: all 0.15s ease;
  background: transparent;
}

.standard-button:hover {
  color: var(--button-hover);
  border-color: var(--button-hover);
  cursor: pointer;
}

/* NAVBAR STYLES */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--standard-width);
  padding: 0 var(--spacing-md);
}

/* SIDEBAR STYLES */

.sidebar-button {
  width: var(--button-sidebar-width-size);
  height: var(--button-sidebar-width-size);
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.sidebar-button img {
  width: 100%;
  height: 100%;
}

/* QUIZ STYLES */

.start-quiz-button {
  background-color: var(--purple-1);
  color: var(--text-white);
  font-weight: bold;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 2px solid var(--purple-1);
  border-radius: var(--standard-border-radius);
  transition: all 0.3s ease;
}
.start-quiz-button:hover {
  background-color: var(--blue-2);
  border-color: var(--blue-2);
  color: var(--text-white);
}

/* POPUP STYLES */

.popup-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-popup);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  display: none;
}

.popup-container {
  position: relative;
  box-sizing: border-box;
  background: var(--bg-white);
  border-radius: var(--standard-border-radius);
  padding: var(--spacing-md);
  box-shadow: var(--standard-box-shadow);
  width: var(--popup-width);
  height: var(--popup-height);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}
.popup-label {
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
}

.popup-textarea {
  width: var(--standard-width);
  min-height: 80%;
  resize: vertical;
  font-size: var(--p-size);
  padding: var(--spacing-sm);
  border: 1px solid var(--text-grey);
  border-radius: var(--standard-border-radius);
  box-sizing: border-box;
  font-family: var(--body-font);
}
.popup-input {
  width: var(--standard-width);
  height: 80%;
}

/* POPUP BUTTON STYLES */

.popup-buttons-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.popup-close-button {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  background-color: var(--bg-white);
  color: var(--text-black);
  font-size: var(--button-text-size);
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.popup-close-button:hover {
  background-color: var(--close-button);
  color: var(--text-white);
}

.popup-ok-button {
  background-color: var(--bg-white);
  color: var(--text-black);
  align-self: flex-end;
  min-width: var(--button-ok-width-size);
  border: 1.5px solid var(--text-black);
  border-radius: var(--standard-border-radius);
  padding: var(--spacing-sm) var(--spacing-md);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.popup-ok-button:hover {
  background-color: var(--bg-popup);
  color: var(--text-white);
}

/* POPUP MENU STYLES */

.menu-popup {
  position: fixed;
  background: var(--bg-white);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow);
  padding: var(--spacing-sm);
  width: var(--menu-popup-width);
  height: var(--menu-popup-height);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

/* POPUP MENU BUTTON STYLES */

.popup-modal.card-content-show {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: var(--bg-white);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow);
  padding: var(--spacing-md);
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--purple-1);
}
