:root {
  /* TEXT VARIABLES */
  --body-font: "Roboto", sans-serif;
  --secondary-font: "Anek Telugu", sans-serif;

  --h1-size: 2rem;
  --h1-height: 2.5rem;
  --h2-size: 1.2rem;
  --h2-height: 1.4rem;
  --h3-size: 1rem;
  --h3-height: 1.2rem;

  --p-size: 1rem;
  --p-height: 1.2rem;
  --secondary-text-size: 0.8rem;
  --secondary-text-height: 1rem;
  --answer-height: 6rem;
  --err-message-height: 1rem;
  /* SPACING VARIABLES */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /* SIZING VARIBLES */
  --modal-content-width: 450px;
  --modal-content-height: 300px;
  --narrow-modal-content-width: 400px;
  --narrow-modal-content-height: 300px;
  --menu-modal-width: 200px;
  --menu-modal-height: 100px;
  --modal-body-width: 90%;
  --modal-body-height: 90%;
  --modal-input-width: 60%;
  --modal-input-height: 35%;
  --card-width: 200px;
  --card-height: 100px;

  --stop-sign-size: 20px;

  /* BUTTON SIZING VARIABLES */
  --button-text-size: 1rem;
  --button-sidebar-width-size: 4rem;
  --button-ok-width-size: 70px;

  /* COLOR VARIABLES */
  --bg-white: #fff;
  --bg-grey: #f7f9fc;
  --bg-modal: #00000099;

  --text-black: #000;
  --text-dark: #101011;
  --text-grey: #adbdcc;
  --text-white: #fff;

  --purple-1: #6962f7;
  --purple-2: #7000ff;
  --blue-1: #3366ff;
  --blue-2: #0a2540;
  --err-message: #ff3e3e;

  --close-button: #ff0000;
  --button-hover: #68727e;

  --search-result-highlight-border: rgba(255, 183, 77, 0.8);
  --search-result-highlight-shadow: 0 2px 10px rgba(255, 183, 77, 0.8);

  /* STANDARD VARIABLES */
  --standard-max-width: 95%;
  --standard-border-radius: 15px;
  --standard-box-shadow: 0px 2px 10px rgba(35, 38, 42, 0.266);
}

/*********************  GENERAL  ELEMENT  STYLES  *********************/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: var(--body-font);
  background-color: var(--bg-white);
  color: var(--text-black);
}

h1 {
  font-size: var(--h1-size);
  font-weight: 700;
  letter-spacing: -1px;
  line-height: var(--h1-height);
  margin: 0;
  width: 100%;
}
h2 {
  font-size: var(--h2-size);
  font-weight: 500;
  line-height: var(--h2-height);
  margin: 0;
  display: inline-block;
  width: auto;
}
p {
  font-size: var(--p-size);
  font-weight: 400;
  line-height: var(--p-height);
  margin: var(--spacing-md) var(--spacing-sm);
}

a {
  text-decoration: none;
  color: var(--text-black);
  font-weight: 500;
  transition: color 0.2s ease-out;
}
a:hover {
  text-decoration: underline;
  color: var(--purple-2);
}

/*********************  STANDARD  STYLES  *********************/
.secondary-text {
  font-size: var(--p-size);
  line-height: var(--secondary-text-height);
  color: var(--text-grey);
  letter-spacing: 0.25px;
  margin: var(--spacing-sm) var(--spacing-xs) 0 var(--spacing-xs);
}

.standard-button {
  color: var(--text-grey);
  font-family: var(--body-font);
  font-size: var(--button-text-size);
  font-weight: bold;
  letter-spacing: 1.25px;
  padding: var(--spacing-sm) var(--spacing-md);
  white-space: nowrap;
  border: 1px solid var(--text-grey);
  border-radius: var(--standard-border-radius);
  transition: all 0.15s cubic-bezier(0.4, 0, 1, 1);
  background: transparent;
}

.standard-button:hover {
  color: var(--button-hover);
  border-color: var(--button-hover);
  cursor: pointer;
}

/*********************  CARD  LAYOUT  STYLES  *********************/

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  max-width: 100%;
  box-sizing: border-box;
  align-content: flex-start;
}

.card {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;

  width: var(--card-width);
  min-height: var(--card-height);
  max-width: 100%;
  padding: var(--spacing-sm);
  border: 1px solid var(--purple-1);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: var(--standard-box-shadow);
  cursor: pointer;
}
.card.highlighted {
  animation: highlight-border 3s ease-in;
}

.card__question {
  font-family: var(--body-font);
  font-weight: 600;
  font-size: var(--h3-size);
  line-height: var(--h3-height);
  margin: 0;
  align-self: flex-start;
}
.card__answer {
  font-size: var(--p-size);
  color: var(--text-dark);
  margin: 0;
  align-self: flex-end;
  font-size: var(--h2-size);
  font-weight: 400;
}
.show-answer {
  padding: var(--spacing-sm) var(--spacing-sm);
  font-size: 0;
  border-color: var(--purple-1);
  transition: all 0.1s ease;
}
.show-answer:hover {
  background-color: var(--purple-1);
  scale: 1.2;
}
@keyframes highlight-border {
  10% {
    border-color: var(--search-result-highlight-border);
    box-shadow: var(--search-result-highlight-shadow);
  }
  80% {
    border-color: initial;
    box-shadow: initial;
  }
}
/*********************  CATEGORY  LAYOUT  STYLES *********************/

.category-card__quiz-button {
  background-color: var(--purple-1);
  color: var(--text-white);
  font-weight: bold;
  padding: var(--spacing-sm) var(--spacing-md);
  border: 2px solid var(--purple-1);
  border-radius: var(--standard-border-radius);
  transition: all 0.3s ease;
}
.category-card__quiz-button:hover {
  background-color: var(--blue-2);
  border-color: var(--blue-2);
  color: var(--text-white);
}

/* GRID LAYOUT STYLES */
/* .grid-content {
  width: var(--standard-max-width);
  background-color: var(--bg-white);
  color: var(--text-black);
  margin: 0;
  padding: var(--spacing-sm) 0 0 0;
  font-family: var(--body-font);
  position: relative;

  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: 9fr 150px;
  row-gap: var(--spacing-md);
} */

/*********************  APP  STYLES  *********************/

#app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app {
  width: 100%;
  height: 100%;
  max-width: var(--standard-max-width);
}

/*********************  MAIN  STYLES  *********************/
.breadcrumb {
  display: inline-block;
  margin: var(--spacing-md) 0 0 var(--spacing-sm);
}
.breadcrumb p {
  margin: 0;
  height: fit-content;
}
.breadcrumb a {
  text-decoration: none;
  color: var(--text-grey);
  font-weight: 700;
  transition: color 0.1s cubic-bezier(0.4, 0, 1, 1);
}
.breadcrumb a:hover {
  text-decoration: underline;
  color: var(--purple-2);
}
.main {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 100px;
  row-gap: var(--spacing-md);
  max-width: var(--standard-max-width);
}
.main > div {
  display: grid;
  grid-template-rows: fit-content(100%) 1fr;
}

.card-area {
  flex-shrink: 0;
  height: auto;
}

/*********************  NAVBAR  STYLES  *********************/

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: var(--spacing-lg) 0 0 0;
  width: 100%;
  max-width: var(--standard-max-width);
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0 0 0 var(--spacing-xl);
}
.navbar__searchbar {
  border: 1px solid var(--text-dark);
  border-radius: var(--standard-border-radius);
  padding: var(--spacing-xs) var(--spacing-sm);
}
.navbar__searchbar::placeholder {
  font-family: var(--body-font);
}

/*********************  SIDEBAR  STYLES  *********************/
.sidebar {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: var(--spacing-md);
}

.sidebar__button {
  width: var(--button-sidebar-width-size);
  height: var(--button-sidebar-width-size);
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.sidebar__button.disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.sidebar__button img {
  width: 100%;
  height: 100%;
}
.sidebar__stop-sign {
  position: fixed;
  pointer-events: none;
  z-index: 5;
  width: var(--stop-sign-size);
  height: var(--stop-sign-size);
}
/*********************  PAGINATION  & FOOTER LAYOUT  STYLES  *********************/
.pagination-wrapper {
  width: 100%;
}
.pagination-content {
  display: flex;
  justify-content: center;
  align-items: baseline;
  column-gap: var(--spacing-sm);
  padding: var(--spacing-md) 0 0 0;
}
.pagination-content button {
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: calc(var(--button-text-size) * 0.9);
}

.footer-content {
  display: flex;
  justify-content: center;
  font-family: var(--secondary-font);
  color: var(--text-grey);
  padding: var(--spacing-lg) 0;
}
/* ---------------------------------------------------------------------------------- */

/*********************  MODAL  STYLES  *********************/

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.modal-content {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: relative;
  box-sizing: border-box;
  background: var(--bg-white);
  border-radius: var(--standard-border-radius);
  padding: var(--spacing-md);
  box-shadow: var(--standard-box-shadow);
  width: var(--modal-content-width);
  height: fit-content;
}
.modal-body {
  width: var(--modal-body-width);
  height: fit-content;
  background-color: var(--bg-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: var(--spacing-md);
  margin: var(--spacing-md) 0;
}
.modal-body__question {
  color: var(--text-black);
  font-family: var(--body-font);
  width: 100%;
}
.modal-body__answer {
  font-size: var(--p-size);
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: var(--answer-height);
  visibility: hidden;
}
.show-card.modal-body__answer {
  font-weight: 300;
  visibility: visible;
}

.modal-body__answer.show {
  visibility: visible;
  animation: fadeinAnswer 0.4s ease forwards;
  pointer-events: auto;
}

.modal-content__title {
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
}

.modal-content__input {
  width: var(--modal-input-width);
  height: var(--modal-input-height);
  resize: vertical;
  padding: var(--spacing-sm);
  border: 1px solid var(--text-grey);
  border-radius: var(--standard-border-radius);
  box-sizing: border-box;
  box-shadow: var(--standard-box-shadow);
}
.category-input.modal-content__input {
  width: 75%;
  height: auto;
}
.modal-content__input::placeholder {
  font-size: var(--p-size);
  font-family: var(--body-font);
}
@keyframes fadeinAnswer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*********************  MODAL  BUTTON  STYLES  *********************/

.close-button {
  position: absolute;
  top: var(--spacing-sm);
  right: var(--spacing-sm);
  background-color: var(--bg-white);
  color: var(--text-black);
  font-size: var(--button-text-size);
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.close-button:hover {
  background-color: var(--close-button);
  color: var(--text-white);
}
.close-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ok-button {
  background-color: var(--bg-white);
  color: var(--text-black);
  align-self: flex-end;
  min-width: var(--button-ok-width-size);
  border: 1.5px solid var(--text-black);
  border-radius: var(--standard-border-radius);
  padding: var(--spacing-sm) var(--spacing-md);
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ok-button:hover {
  background-color: var(--bg-modal);
  color: var(--text-white);
}

/*********************  MENU  MODAL  STYLES  *********************/

.menu-modal {
  background: var(--bg-white);
  border-radius: var(--standard-border-radius);
  box-shadow: var(--standard-box-shadow);
  padding: var(--spacing-sm);
  width: var(--menu-modal-width);
  height: var(--menu-modal-height);

  display: flex;
  flex-direction: column;
  z-index: 50;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  box-sizing: border-box;
  padding: var(--spacing-sm) var(--spacing-xs);
}
.context-menu.button-container {
  flex-direction: column;
}

/*********************  LOGIN  LAYOUT  STYLES  *********************/

#login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  position: inherit;
  margin: 0;
}
#login-form ~ p:nth-of-type(2) {
  margin: 0;
}
#login-form__button:hover {
  color: var(--text-white);
  background-color: var(--purple-1);
  border-color: var(--purple-1);
}
.role-selection {
  position: absolute;
  top: 0;
  left: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.role-selection a {
  font-weight: 700;
}

.role-selection a.active {
  text-decoration: underline;
  color: var(--purple-1);
}

.err-message {
  padding: 0;
  margin: 0;
  height: var(--err-message-height);
  color: var(--err-message);
  visibility: hidden;
}

.err-message.show {
  visibility: visible;
  animation: fadeoutErr 2s forwards;
}

.login-form.modal-content__input {
  width: fit-content;
}
.login-form.modal-content__input::placeholder {
  opacity: 0.7;
}

@keyframes fadeoutErr {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*********************  GUEST  MESSAGE &  ERROR  MESSAGE  STYLES  *********************/
.guest-message {
  font-weight: 700;
  margin: var(--spacing-lg) 0 0 var(--spacing-sm);
}
.search-err-message {
  font-weight: 700;
  color: var(--err-message);
  margin: var(--spacing-lg) 0 0 var(--spacing-sm);
}
